<div class="ui attached stackable menu">
  <div class="ui container">
    <div class="ui header item">
      Survey
    </div>
    {{link-to 'Questions' 'questions' class='item'}}
    {{link-to 'Admin' 'admin' class='item'}}

    <a href="http://yoember.com" class="ui link item right">Back to yoember.com</a>
  </div>
</div>

<div class="ui container">
  {{outlet}}
</div>



