<form class="form" {{action 'why' whyChoice whyOther experienceChoice on='submit'}}>
  <h3>Why are you learning new framework, programming language?</h3>

  <div class="radio">
    {{#radio-button value="work" groupValue=whyChoice}}Need for my work, it is part of my job.{{/radio-button}}
  </div>
  <div class="radio">
    {{#radio-button value="hobby" groupValue=whyChoice}}It is just a hobby.{{/radio-button}}
  </div>
  <div class="radio">
    {{#radio-button value="career" groupValue=whyChoice}}I would like a career change.{{/radio-button}}
  </div>
  <div class="radio">
    {{#radio-button value="exploring" groupValue=whyChoice}}I am already a developer and for exploring new
      technologies.{{/radio-button}}
  </div>
  <div class="radio">
    {{#radio-button value="other" groupValue=choice}}Other, please specify: {{input value=whyOther class="form-control"}}{{/radio-button}}
  </div>

<h3>How experienced programmer are you?</h3>
  <div class="radio">
    {{#radio-button value="beginner" groupValue=experienceChoice}}Beginner{{/radio-button}}
  </div>
  <div class="radio">
    {{#radio-button value="intermediate" groupValue=experienceChoice}}Intermediate{{/radio-button}}
  </div>
  <div class="radio">
    {{#radio-button value="experienced" groupValue=experienceChoice}}Experienced{{/radio-button}}
  </div>

</form>



Which tutorials have you used and how did you like it? (In a scale of 6)

1 (Don't like it) ... 6 (Love it) ... Never used

Codeschool
Lynda
Codecademy
Code.org
Treehouse
CodeAvengers
Other:

Which features are important in a programming tutorial interface?

Tutorial videos
Tutorial articles
Coding challenges
Using interactive terminal
Using interactive code editor
Availability of documentation
Showing the result of the code (preview window of the project)
Other (suggest a new one):

Gender: Female | Male
Age: Type your age
Your country: